
  <form action="<%= locals.postAction %>" method="POST" enctype="multipart/form-data">
    <label for="uploadedFile">Upload a file: </label>
    <br>
    <input type="file" name="uploadedFile" id="uploadedFile">
    <br>
    <button>Submit</button>
  </form>
