:root {
  --light: #FFF1D5;
  --darker-blue: #9FB3DF;
  --lighter-blue: #9EC6F3;
  --green: #BDDDE4;
}

.spectral-extralight {
  font-family: "Spectral", serif;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spectral";
}



header {
  background-color: var(--lighter-blue);
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;

}
.navbar a {
  color: black;
}

.indexMainCont {
  background-image: linear-gradient(var(--darker-blue), var(--lighter-blue));
}

.indexMaxWidthParaAndImageCont {

}

.textPictureContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.indexWhiteSection {
  background-color: var(--light)
}

.cloudGuyLadderImg, .foldersIndexImg, .fileDrawerIndexImg, .shareHexIcon {
  border-radius: 15px;
  width: 50%;
  max-height: 400px;
  object-fit: contain;
}

.cloudGuyImgContainer {
  width: 50%;
  border-radius: 15px;

  overflow: hidden;
}

.cloudGuyLadderImg {
  width: 100%;
  object-fit: cover;
}

.indexThreeIconGrid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  align-items: center;
  font-size: 1.5rem;
  /* max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;
  text-align: center; */
}

.indexThreeIconGrid div {
  flex-basis: 350px;
  min-height: 200px;
}

.indexThreeIconGrid div {
  min-width: 0;
}


.foldersIndexImg {
  object-fit: cover;

}

.fileDrawerIndexImg {

}


.homeBody {
  background-color: var(--light);
}

.registerBody {
  background-color: var(--darker-blue);
}

.folderFlapCont {
  max-width: 500px;
  margin: 3rem auto 0 auto;
}

.folderFlap {
  background-color: var(--light);
  width: min-content;
  padding: 5px;
  border-radius: 15px 15px 0 0;

}

.formContainer {
  background-color: var(--light);
  max-width: 500px;
  border-radius: 0 15px 15px 15px;
  margin: 0 auto;
  padding: 3.5rem 2rem;
}

.formHeading {
  text-align: center;
}

.registerForm {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

@media (max-width: 600px) {
  .textPictureContainer {
    grid-template-columns: 1fr;
  }
}